html, body, h1, h2, header, footer {
    margin: 0; padding: 0;
}

body{
    background: #dfdfdf;
}

footer, header {
    background: #A9A9A9;	
    color: #fbfbfb;
    font-family: arial, "Helvtica Neve", sans-serif;
    text-align: center;
    padding: 2em 0;
}

main {
    width: 94.75%;
    margin: 0 auto;
    overflow: hidden;
}

.column{
    width: 33.15%;
    height: 500px;
    float: left;
    text-align: center;
    border: 1px solid gray;
}

.column1 { background: #A9A9A9; }
.column2 { background: #fbfbfb; }
.column3 { background: #A9A9A9; }

footer{ clear: both; }